[Desktop Entry]
Version=1.0
Name=Chrome Browser
Comment=Access the Internet
GenericName=Web Browser
Exec=/usr/local/lib/cmux/cmux-launch-chrome %U
Terminal=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
